/******* diag-styles */
.diag {
    margin-top:20px;
    padding:0;
    height:140px;
}
.diag-title {
    margin-top:20px;
    margin-right: 20px;

    font-weight: bold;
}
.diag-row {
    margin:0;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
}
.series-legend {
    width:185px;
}
.series-item {
    height:24px;
    clear:both;
    font-weight:normal;
}
.series-name {
    float:left;
    /*cursor:pointer;*/
}
.series-symbol {
    width:30px;
    height:4px;
    margin-right:10px;
    margin-top:8px;
    float:left;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/******* diag-mobile-styles */
.diag-mobile {
    margin-top: 20px;
    padding: 0;
    height: 100px;
}
.diag-title-mobile {
    /*margin-top:20px;*/
    /*margin-right: 20px;*/
    /*font-weight: bold;*/
}
.diag-row-mobile {
    /*margin:0;*/
    /*width:100%;*/
    /*display:flex;*/
    /*flex-wrap:wrap;*/
    /*justify-content:flex-end;*/

    padding: 3px;
}
.series-legend-mobile {
    /*width:185px;*/
}