body {
  background-color: #f3f8f0;
  color: #1b6411;
}
/*
.toprow {
  margin:15px 15px 0 15px;
}
*/
.row1 {
  margin:15px 15px 0 15px;
  color:white;
}
.row1text1 {
  padding-top: 16px;
  font-size: 3em;
  line-height:1em;
  padding-bottom: 8px;
  color:#1b6411;
}
.row1text2 {
  font-size: 1.5em;
  color:#1b6411;
}

.row2 {
  background-image: linear-gradient(to right, #aed298, #e5f0e0, #aed298);
  margin:15px 15px 0 15px;
}
.info-row2 {
  background-image: linear-gradient(to right, #aed298, #e5f0e0, #aed298);
  margin:0 0 15px 0;
}
.info-row1text1 {
  padding-top: 16px;
  font-size: 2em;
  line-height:1em;
  padding-bottom: 8px;
}
.info-row1text2 {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.row-panel {
  margin:15px 0px;
}

.row-panel .panel-default, .organ-items-div{
  margin-right: 55px;
}

.row-panel .panel-default {
  font-size: 14px;
  padding: 10px;
}

.rowcol1 {

}

.rowcol2 {

}

.im_yes {
  background-color: #8dbf44;
  padding:16px;
  height:68px;
  font-size: 1.8em;
  text-align: center;
}
.grant {
  background-color: black;
  padding:16px;
  height:68px;
  font-size: 1.4em;
  text-align: center;
}


.complbanner {
  background: url(/img/side-effects.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  box-shadow: 0 0 24px rgba(0,0,0,0.5);

}

.toplogo {
  width:120px;
  height:40px;
}
.compl-letter {
  font-size:1.4em;
  font-weight: bold;
  background-color: #45a5b3;
  margin:3px 0px;
  font-family: monospace;
}
.compl-letter-collapsed {
 font-size:1em;
 font-weight: bold;
 background-color: #45a5b3;
 margin:0;
 padding:6px;
 font-family: monospace;
}
.navig {
  margin:0 0 16px 0;
}
.compl-letters {
  padding: 0 16px 0 32px;
  margin-bottom:16px;
}
.symptom-header {
  text-align:center;
  border:1px #337ab7 solid;
  padding:8px;
  background-color: #ddf0d2;
  font-size: 1.2em;
}
.symptom-text {
  margin-top:24px;
  font-size: 1.2em;
}
.symptom-text ul,ol {
  padding-left: 16px;
}
.symptom-text p {
  margin-bottom:0.5em;
}
.symptom-text h2 {
  color: #026f85;
}
.symptom-text img {
  max-width:100%;
  height:auto;
}
.symptom-text td,th{
  padding:8px;
}

.row3 {
  margin-top:16px;
}
.menu-panel {
  padding-left:0;
  font-size:1.3em;
}
.menu-list {

}
.menu-list .active {
  background-color: #8dbf44;
  border-color: #8dbf44;
  border-radius: 0;
}
.organ-panel {
  padding:0;
  margin-bottom:8px;
  background-color:#8dbf44;
  padding:12px;
  color:#fff;
  font-size:1.8em;
  display: block;
  /*box-shadow: 2px 2px 8px 1px #aaa;*/
  border:2px solid #719da3
}
.organ-panel:hover {
  /*border:1px solid black;*/
  box-shadow: 0px 0px 8px 1px #aaa;
}
.a-organ-panel:hover {
  text-decoration: none;
}

.organ-panel img {
  width:48px;
  float:left;
  margin-right:16px;
  margin-top: -5px;
}
.organ-items-div {

  padding:8px;
  background-color:#fff;
  margin-bottom:8px;
}
.organ-items-list {
  margin-bottom:0;
}
.body-panel {
 color:#00697c;
 /*color:#1b6411;*/
 margin-bottom: 32px;
 font-size:1.2em;
}
.body-panel a {
  color:grey;
}

.border-green {
  border: solid 5px #acd198;
}

.compl-list {
  height: 85%;
  overflow: auto;
  /*arka commented
  font-size: 1.3em;*/
}
.complline-collapsed {
  padding: 0;
  background-color: white;
}
iframe {
  width: 400px;
  height: 250px;
}

.info-footer {
  padding:12px;
  color: #fff;
  background-color: #00763c;
  font-size: 1.1em;
  border-radius: 8px 8px 0 0;
  width: 100%;
}
.footer-wrapper{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0px 30px;
}
.wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 90px;
  min-width: 360px;
}
.block-menu{
  margin:24px 16px 10px 16px;
}
.info-footer-cont {
  background-color: #c7e4d2;
  margin: 5px;
  border-radius: 5px;
}
.info-footer-name {
  font-size: 1.6em;
}
.info-footer-shortname {
  font-size: 2em;
}
.info-footer-site {

}
.info-footer-email {

}
/* tineMCE area*/
.textarea-content {
  width: 100%;
  height: 55vh;
}
.content-save {
  margin-top: 20px;
}
.content-cancel {
  margin: 20px 0px 0px 20px;
}
.edit-textarea {
  margin: 10px 0px;
}
.loading:after {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: ' ';
  width: 75px;
  height: 75px;
  margin-left: -35px;
  margin-top: -35px;
  background-image: url(/img/loading.gif);
  background-size: 75px 75px;
  background-repeat: no-repeat;
}
.tox-dialog {
  position: absolute !important;
}
.ui-tooltip, .ui-tooltip-content{
  display: none !important;
}
/* tineMCE area end*/

blockquote {
  font-size:1em;
}

.legal-item {
  border-bottom:none;
}
.legal-item-sub {
  /*font-size: 0.8em;*/
  padding-left: 26px;
  padding-top: 0;
  border-top:none;
  border-bottom:none;
}

@media (max-width:767px) {
  .row1text1 {
    width: 80%;
    text-transform: uppercase;
    font-size: 1em;
    padding: 2% 0 1% 2%;
  }
  .row1text2 {
    width: 80%;
    padding: 0 0 2% 2%;
    font-size: 1em;
  }
  .toplogo {
    width:60px;
    height:20px;
  }
  .side-clist-div {
    display:normal;
  }
  .side-list-div {
    display:none;
  }
  .im_yes {
    font-size: 1.4em;
  }
  .grant {
    font-size: 1.2em;
  }
  .menu-panel {
    padding-right: 0;
    font-size: 1em;
  }
  .info-footer-name {
    font-size: 1em;
  }
  .info-footer-shortname {
    font-size: 1.2em;
  }
  .organ-panel {
    font-size: 1.2em;
  }
  .organ-panel img {
    width:32px;
  }
}
@media (max-width:400px) {
  .complbanner {
    background-size: 300px;
  }
  .im_yes {
    font-size: 1.2em;
    padding:8px;
  }
  .grant {
    font-size: 1em;
    padding:8px;
  }
  iframe {
    width:250px;
    height:150px;
  }
  .organ-panel {
    font-size: 1em;
  }
}
@media (min-width:768px) {
  .side-clist-div {
    display:none;
  }
  .side-list-div {
    display: normal;
  }
}
.node-tree, .node-ctree {
  overflow-x: hidden;
  text-overflow:ellipsis;
  border-right: solid 16px rgba(0, 0, 0, 0);
  border-top:none;
  border-bottom:none;
  padding: 8px 8px 8px 8px;
  color: #026f85;
  /*arka added*/
  white-space: nowrap;
}
.node-tree-selected {
  background-color: #ddffdd;
}
/* arka commented
.tree-list .node-tree a,
.tree-list .node-ctree a {
  display: block;
  margin-left: 25px;
}
.tree-list .node-tree a span,
.tree-list .node-ctree a span {
  margin-left: 25px;
  display: block;
}
.tree-list .glyphicon-minus:before, .glyphicon-plus:before {
    position: absolute;
    top: 3px;
}

.tree-list .indent{
  display: none;
}

.treeview span.icon {
  display: block;
}*/
a.half {
  text-decoration: none;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

@media (max-width:1200px) {
  .text-nowrap{
    white-space: normal ;
  }
}
@media (max-width:595px) {
  .wrapper {
    padding-bottom: 110px;
  }
  a{
    word-wrap: break-word;
  }
}
@media (max-width:485px) {
  .wrapper {
    padding-bottom: 140px;
  }
}
@media (max-width:380px) {
  .wrapper {
    padding-bottom: 160px;
  }
}
.panel-span {
  border-bottom: 2px dashed white;
}
.dashed-white {
  border-bottom: 2px dashed white;
}


